<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosha.dapp.server.mapper.DappReportVoteMapper">
    <resultMap id="BaseResultMap" type="com.bosha.dapp.api.entity.DappReportVote">
        <!--@mbg.generated-->
        <!--@Table dapp_report_vote-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="dapp_report_id" jdbcType="BIGINT" property="dappReportId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, address, dapp_report_id, `type`, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from dapp_report_vote
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from dapp_report_vote
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.bosha.dapp.api.entity.DappReportVote" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dapp_report_vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">
                address,
            </if>
            <if test="dappReportId != null">
                dapp_report_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="dappReportId != null">
                #{dappReportId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bosha.dapp.api.entity.DappReportVote">
        <!--@mbg.generated-->
        update dapp_report_vote
        <set>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="dappReportId != null">
                dapp_report_id = #{dappReportId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into dapp_report_vote
        (address, dapp_report_id, `type`, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.address,jdbcType=VARCHAR}, #{item.dappReportId,jdbcType=BIGINT}, #{item.type,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <select id="count" resultType="int">
        select count(*)
        from dapp_report_vote
        where address = #{address}
          and dapp_report_id = #{id}
    </select>
    <select id="countVote" resultType="int">
        select count(*)
        from dapp_report_vote
        where dapp_report_id = #{id}
          and type = 1
    </select>
</mapper>