<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosha.dapp.server.mapper.SparksActivityImgMapper">
    <resultMap id="BaseResultMap" type="com.bosha.dapp.api.entity.SparksActivityImg">
        <!--@mbg.generated-->
        <!--@Table sparks_activity_img-->
        <result column="activity_id" jdbcType="BIGINT" property="activityId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        activity_id, url
    </sql>
    <insert id="insertSelective" parameterType="com.bosha.dapp.api.entity.SparksActivityImg">
        <!--@mbg.generated-->
        insert into sparks_activity_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">
                #{activityId,jdbcType=BIGINT},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="map">
        <!--@mbg.generated-->
        insert into sparks_activity_img
        (activity_id, url)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.activityId,jdbcType=BIGINT}, #{item.url,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="list" resultType="java.lang.String">
        select url
        from sparks_activity_img
        where activity_id = #{id}
    </select>
</mapper>