<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosha.common.server.mapper.LiveMiningConfigMapper">
  <resultMap id="BaseResultMap" type="com.bosha.common.api.entity.LiveMiningConfig">
    <!--@mbg.generated-->
    <!--@Table live_mining_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="min" jdbcType="DECIMAL" property="min" />
    <result column="max" jdbcType="DECIMAL" property="max" />
    <result column="coin_id" jdbcType="BIGINT" property="coinId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `min`, `max`, coin_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from live_mining_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from live_mining_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bosha.common.api.entity.LiveMiningConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into live_mining_config (`min`, `max`, coin_id
      )
    values (#{min,jdbcType=DECIMAL}, #{max,jdbcType=DECIMAL}, #{coinId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bosha.common.api.entity.LiveMiningConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into live_mining_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="min != null">
        `min`,
      </if>
      <if test="max != null">
        `max`,
      </if>
      <if test="coinId != null">
        coin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="min != null">
        #{min,jdbcType=DECIMAL},
      </if>
      <if test="max != null">
        #{max,jdbcType=DECIMAL},
      </if>
      <if test="coinId != null">
        #{coinId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bosha.common.api.entity.LiveMiningConfig">
    <!--@mbg.generated-->
    update live_mining_config
    <set>
      <if test="min != null">
        `min` = #{min,jdbcType=DECIMAL},
      </if>
      <if test="max != null">
        `max` = #{max,jdbcType=DECIMAL},
      </if>
      <if test="coinId != null">
        coin_id = #{coinId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bosha.common.api.entity.LiveMiningConfig">
    <!--@mbg.generated-->
    update live_mining_config
    set `min` = #{min,jdbcType=DECIMAL},
      `max` = #{max,jdbcType=DECIMAL},
      coin_id = #{coinId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getByCoinId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from live_mining_config
        where 1=1
        <choose>
            <when test="coinId != null">
                and coin_id = #{coinId}
            </when>
            <otherwise>
                and coin_id = (select id from coin where symbol_name = 'PUL')
            </otherwise>
        </choose>
    </select>
</mapper>